{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container box_1170">
        {% for ab in about %}
        <h3 class="text-heading">{{ ab.title }}</h3>
        {{ ab.details|safe }}
        {% endfor %}
    </div>
</section>
<!-- End Sample Area -->


{% endblock %}
