header
{
	background: #eeeeee;
}
header .col-md-8 img
{
	height: 80px;
	width: 80px;
	border-radius: 40px;
	margin: 10px;
	float: left;
}
header h1
{
	float: left;
	font-size: 40px;
	margin: 30px auto;
}
header img
{
	height: 30px;
	width: 30px;
}
header h3, header p
{
	margin: 10px 20px;
}
header a
{
	margin: 5px;
	text-decoration: none;
}

nav
{
	background: darkblue;
}

#slider
{
	background: grey;
	height: 400px;
}
#slider img
{
	height: 400px;
}
#slider .carousel-caption
{
	background: rgba(0, 0, 0, 0.4);
	/* opacity: 0.4; */
}


#display
{
	background: orange;
	height: 400px;
}
footer
{
	background: darkblue;
	height: 30px;
}


