*
{
	margin: 0;
	padding: 0;
}

#main
{
	width: 80%;
	margin: 0 auto;
}

#header
{
	background-color: #eeeeee;
	min-height: 100px;
	width: 100%;
	float: left;
}
#header1
{
	height: 100px;
	width: 70%;
	float: left;
}
#header1 img
{
	height: 80px;
	width: 80px;
	border-radius: 40px;
	margin: 10px;
	float: left;
}
#header h1
{
	float: left;
	font-size: 40px;
	margin: 30px auto;
}

#header2
{
	height: 100px;
	width: 30%;
	float: left;
}
#header2 img
{
	height: 30px;
	width: 30px;
}
#header2 h3, #header2 p
{
	margin: 10px 20px;
}
#header2 a
{
	margin: 5px;
	text-decoration: none;
}

#nav
{
	background-color: darkblue;
	width: 100%;
	float: left;
}

#nav ul
{
	list-style: none;
}
#nav ul li
{
	float: left;
	padding: 10px 25px;
	border-right: 2px solid #ffffff;
}
#nav ul li a
{
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
#nav ul li ul
{
	position: absolute;
	background-color: darkblue;
	margin-left: -40px;
	display: none;
}
#nav ul li ul li
{
	float: none;
	border: none;
}
#nav ul li:hover ul
{
	display: block;
}

#slider
{
	background-color: grey;
	height: 400px;
	width: 100%;
	float: left;
}
#slider img
{
	width: 100%;
	height: 400px;
}

#display
{
	background-color: black;
	width: 100%;
	float: left;
}
#display1
{
	background-color: pink;
	height: 400px;
	width: 50%;
	float: left;
}
#display2
{
	background-color: aqua;
	height: 400px;
	width: 50%;
	float: left;
}

#footer
{
	background-color: blue;
	width: 100%;
	float: left;
}
#footer p
{
	color: #fff;
	text-align: center;
	margin: 10px auto;
}



@media screen and (max-width: 768px)
{
	#main
	{
		width: 100%;
	}
	#header h1
	{
		font-size: 26px;
	}
	#header1, #header2, #display1, #display2
	{
		width: 100%;
	}
	#nav ul li
	{
		float: none;
	}
}


@media screen and (max-width: 862px)
{
	#header2 img
	{
		width: 20px;
		height: 20px;
	}
}
